body {font-size: 12px; font-family: Arial;}

/** Header **/
#header-nav {background-color: #99b795; border-radius: 0; border: 0;}

.navbar-brand h1 {font-family: 'Montserrat Alternates', sans-serif;}

.navbar-header a h1 {color: #fff; text-align: left; font-size: 2em; margin-top: 10px; margin-left: 10px;}

.navbar-header {height: 80px;}

.nav li:nth-child(1) {background-color: #d1ad7b;}
.nav li:nth-child(2) {background-color: #caa168;}
.nav li:nth-child(3) {background-color: #c39555;}

#nav-list {margin-top: 0; margin-bottom: 0;}

#main-content h1 {font-size: 1.8em; font-family: 'Montserrat Alternates', sans-serif;}

h2 {font-size: 1.5em;}

#beef-box, #sushi-box, #chicken-box {background-color: #f0f5f0; margin-bottom: 40px;}

p {padding-left:10px; padding-right:10px; padding-bottom:20px;}


#title {margin-top: 100px;}

@media (max-width: 767px) {
  .navbar-fixed-top {
    position: relative;
  }
	#title {margin-top: 20px;}
}